<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title h2">Create Trader</h2>
    
  </div>
  <br />
  <div class="modal-body ">
    <div class="form-group">
      <div>
        <label>Type:</label>
        <select class="form-control" [(ngModel)]="type">
          <option value="2MA">Two moving averages</option>
          <option value="BB">Bollinger bands</option>
        </select>
        <br />
      </div>

      <div>
        <label>Enter Stock:</label>
        <input
          id="trader-toolbar"
          name="stockk"
          type="text"
          required
          class="form-control"
          (keydown)="typeaheadKeydown($event)"
          #typeaheadInstance="ngbTypeahead"
          [(ngModel)]="stock"
          #stockk="ngModel"
          [ngbTypeahead]="search"
          [resultFormatter]="formatter"
          [ngModelOptions]="{ updateOn: 'blur' }"
        />
        <div
          class="text-danger"
          *ngIf="
            stockk.hasError('required') && (stockk.dirty || stockk.touched)
          "
        >
          This field is required
        </div>
        <br />
      </div>
      <div>
        <label>Size:</label>
        <input
          type="number"
          name="numStock"
          required
          step="100"
          class="form-control"
          #numStock="ngModel"
          [(ngModel)]="size"
          [ngModelOptions]="{ updateOn: 'blur' }"
        />
        <div
          class="text-danger"
          *ngIf="
            numStock.hasError('required') &&
            (numStock.dirty || numStock.touched)
          "
        >
          This field is required
        </div>
        <br />
      </div>
      <div>
        <div *ngIf="type == '2MA'">
          <div class="form-row">
            <div class="form-group col">
              <label>Short:</label>
              <input
                type="number"
                name="shortLen"
                required
                min="15"
                step="15"
                [(ngModel)]="lengthShort"
                class="form-control"
                #shortLen="ngModel"
                [ngModelOptions]="{ updateOn: 'blur' }"
              />
              <div
                class="text-danger"
                *ngIf="
                  shortLen.hasError('required') &&
                  (shortLen.dirty || shortLen.touched)
                "
              >
                This field is required
              </div>
            </div>
            <div class="form-group col">
              <label>Long:</label>
              <input
                type="number"
                name="longLen"
                required
                min="15"
                step="15"
                [(ngModel)]="lengthLong"
                class="form-control"
                #longLen="ngModel"
                [ngModelOptions]="{ updateOn: 'blur' }"
              />
              <div
                class="text-danger"
                *ngIf="
                  longLen.hasError('required') &&
                  (longLen.dirty || longLen.touched)
                "
              >
                This field is required
              </div>
            </div>
            <div class="form-group col">
              <label>Exit (%):</label>
              <input
                type="number"
                name="exitt"
                required
                min="0.25"
                step="0.25"
                [(ngModel)]="exitThreshold"
                class="form-control"
                #exitt="ngModel"
                [ngModelOptions]="{ updateOn: 'blur' }"
              />
              <div
                class="text-danger"
                *ngIf="
                  exitt.hasError('required') && (exitt.dirty || exitt.touched)
                "
              >
                This field is required
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div *ngIf="type == 'BB'">
          <div class="form-row">
            <div class="form-group col">
              <label>Length:</label>
              <input
                type="number"
                name="len"
                required
                min="15"
                step="15"
                [(ngModel)]="length"
                class="form-control"
                #len="ngModel"
              />
              <div
                class="text-danger"
                *ngIf="len.hasError('required') && (len.dirty || len.touched)"
              >
                This field is required
              </div>
            </div>
            <div class="form-group col">
              <label>Multiple:</label>
              <input
                type="number"
                name="mul"
                required
                min="1"
                step="0.05"
                [(ngModel)]="multiple"
                class="form-control"
                #mul="ngModel"
              />
              <div
                class="text-danger"
                *ngIf="mul.hasError('required') && (mul.dirty || mul.touched)"
              >
                This field is required
              </div>
            </div>
            <div class="form-group col">
              <label>Exit (%):</label>
              <input
                type="number"
                name="exitt"
                required
                min="0.25"
                step="0.25"
                [(ngModel)]="exitThreshold"
                class="form-control"
                #exitt="ngModel"
                [ngModelOptions]="{ updateOn: 'blur' }"
              />
              <div
                class="text-danger"
                *ngIf="
                  exitt.hasError('required') && (exitt.dirty || exitt.touched)
                "
              >
                This field is required
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>

<div class="modal-footer">
    <button
    [disabled]="stockk.invalid || numStock.invalid"
    class="btn btn-primary btn-md"
    (click)="create()"
  >
    Create
  </button>
  </div>