html, body {
  font-family: Verdana, Arial, Sans-serif;
  font-size: 11pt;
  height: 100%;
  margin: 0;
}

.content{
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 16pt;
  margin-top: 0;
  text-align: left;
}

h2 {
  font-size: 14pt;
  text-align: left;
}

app-root {
  height: 100%;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: block;
}
