<div class="trader-table-content">
  <div class="row">
    <div class="column side">
      <h1 class="header">Bollinger Bands Traders</h1>
      <button class="center btn btn-primary btn-md" (click)='handleCreate()'>Create</button>

    </div>
    <div class="column info">
      <p>
        <span style="font-weight: normal">Total Trades:</span> {{getTotalTrades()}} <span
          style="padding-right: 2em"></span>
                <!-- If for Profit or Loss-->
                <span>
                    <span *ngIf="getTotalProfit() >= 0" >
                      <span style="font-weight: normal">Total Profit:</span>
                      {{getTotalTrades()>1? (getTotalProfit() | currency:'USD':'symbol':'1.2-2'):0}}
                    </span>
                    <span *ngIf="getTotalProfit() < 0" >
                      <span style="font-weight: normal">Total Loss:</span>
                      {{getTotalTrades()>1? (getTotalProfit() | currency:'USD':'symbol':'1.2-2'):0}}
                    </span>
                </span>
          
    </div>

  <table class="table table-hover table-bordered center" matSort (matSortChange)="sortData($event)">
      <thead>
          <tr>
            <th>Trader Id</th>
            <th mat-sort-header="stock">Stock</th>
            <th class="right" mat-sort-header="size" >Size</th>
            <th class="right" >Length</th>
            <th class="right" >Multiple</th>
            <th class="right"  mat-sort-header="exit">Exit</th>
            <th>State</th>
            <th class="right" mat-sort-header="trades">Trades</th>
            <th class="right" mat-sort-header="profit">Profit</th>
            <th class="right" mat-sort-header="roi">ROI</th>
            <th>History</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let trader of traders; let i = index"
            [ngClass]="{
                'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1,
                'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0,
                'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1,
                'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0
              }"
          >
          <td>{{trader.ID}}</td>
            <td>{{trader.stock}}</td>
            <td class="right" >{{trader.size}}</td>
            <td class="right" >{{minSec(trader.length)}}</td>
            <td class="right" >{{trader.multiple | number: '1.2-2'}}</td>
            <td class="right" >{{trader.exitThreshold | percent:'1.2-2'}}</td>
            <td>
                <button 
                id="trader{{i}}"
                type="button"
                [ngClass]="getState(trader) == 'Started' ? 'btn  btn-success btn-sm':'btn  btn-danger btn-sm'"
                  [disabled]="getState(trader) == 'Stopping'"
                  (click)="startOrStop(trader, false, 'BB')">{{getState(trader)}}</button>
              </td>
              <td class="right indent" >{{trader.trades}}</td>
              <td class="right" >{{trader.trades>1? (trader.profitOrLoss | currency:'USD':'symbol':'1.2-2'):0}}</td>
              <td class="right" >{{trader.trades>1? (trader.ROI | percent:'1.4-4'):0}}</td>
              <td ><button class="btn btn-primary btn-md" (click)='handleHistory(trader)' >Show History</button></td>
            </tr>
         </tbody>
  </table>