.trader-table-content{
  margin:1%;
}

.center{
  margin: auto;
  width: 80%;
  padding: 10px;
}

.btn{
  width: 90px
}

.column.info{
  width: 64%;
  margin:1%;
  text-align: right;
  padding-right:10%
}

/* Left and right column */
.column.side {
  width: 32%;

  padding-left: 20px;
  margin: 1%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p{
  margin-left: auto;
  margin-right: auto;
  width:90%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.right {
  text-align: right;
}

.oddWinner {
  background-color: #efe;
}

.evenWinner {
  background-color: #dfd;
}

.oddLoser {
  background-color: #fee;
}

.evenLoser {
  background-color: #fdd;
}


table {
  border-collapse: collapse;
  width: 80%;
  margin-left: 5%;
  margin-right: 5% 
}

th{
  text-align: center;
}

.header{
  padding-top: 5px;    
  width:auto;

  font-size: 2vmax;
  font-family:"Trebuchet MS";
  font-weight: normal;
  color: rgb(53, 16, 16);  
}
