
<div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title h2">Trader History</h2>
    </div>
  <div class="modal-body ">
  <table class="center table table-bordered table-hover">
    <thead>
      <tr>
        <th>Stock</th>
        <th>Size</th>
        <th>Opening Time</th>
        <th>Opening Price</th>
        <th>Opening Type</th>
        <th>Closing Time</th>
        <th>Closing Price</th>
        <th>Closing Type</th>
        <th>Profit or Loss</th>
      </tr>
    </thead>
    <tbody>
        <tr
          *ngFor="let position of positions; let i = index"
          [ngClass]="{
              'oddWinner': position.profitOrLoss > 0 && i % 2 == 1,
              'evenWinner': position.profitOrLoss > 0 && i % 2 == 0,
              'oddLoser': position.profitOrLoss < 0 && i % 2 == 1,
              'evenLoser': position.profitOrLoss < 0 && i % 2 == 0
            }"
        >
          <td>{{position.openingTrade.stock}}</td>
          <td class="right" >{{position.openingTrade.size}}</td>
          <td class="right" >{{position.openingTrade.when | date: 'd/M/yy h:mm a'}}</td>
          <td class="right" >{{position.openingTrade.price}}</td>
          <td class="right" >{{position.openingTrade.buy? "Buy" : "Sell"}}</td>
          <td>{{!position.closingTrade ? "-" :
              position.closingTrade.when | date: "d/M/yy h:mm a"}}</td>
          <td>{{!position.closingTrade ? "-" : 
              position.closingTrade.price}}</td>
          <td>{{!position.closingTrade ? "-" : 
              position.closingTrade.buy? "Buy" : "Sell"}}</td>
          <td>{{!position.closingTrade ? "-" : 
              position.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</td>
        </tr>
      </tbody>
  </table>
  </div>

<div class="modal-footer"></div>
</div>
