.right {
    text-align: right;
  }
  
  .oddWinner {
    background-color: #efe;
  }
  
  .evenWinner {
    background-color: #dfd;
  }
  
  .oddLoser {
    background-color: #fee;
  }
  
  .evenLoser {
    background-color: #fdd;
  }

  .center{
    margin: auto;
    width: 90%;
    padding: 10px;
  }
  
  .test{
    max-width: 100%;
    width: auto !important;
  }
  table {
    border-collapse: collapse;
  }
  
  thead th {
    margin-bottom: 6px;
    padding: 8px 6px;
  }
  
  tbody tr {
    border: 1px solid grey;
  }
  
  tbody td {
    padding: 8px 6px;
  }
  
  tbody td.narrow {
    padding-left: 0;
  }
  
  tbody td.wide {
    padding-left: 12px;
  }
  
  tbody td.indent {
    padding-right: 12px;
  }
  
  tfoot td {
    font-weight: bold;
    margin-top: 8px;
  }
  
  tfoot td.indent {
    padding-right: 12px;
  }
  
  input[type="button"] {
    width: 72px;
    background-color: white;
    padding: 6px;
  }
  
  input[type="image"] {
    height: 24px;
    margin-top: 2px;
    border: 2px outset #ccc;
  }
  
  