/* Create three unequal columns that floats next to each other */
.base{
  padding-left: 1%;
  height: 100%;
  width: 100%;
  background-color:rgba(120, 172, 233, 0.212);
}
   /* for modal */

   .large-Modal .modal-dialog {
    height: 400px;
    width: 400px; 
    margin: auto;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
  }
  
/* Left and right column */
.column.one {
  background-color: #D7D7D7;
  width: 20%;
  padding-left: 0px;
  margin-left: 0px;
}

.column.two {
  background-color: #D7D7D7;
  border-right: 1px solid grey;
  padding-top: 10px;
  width: 4%;
  text-align: center;
  font-size:300%;
  cursor:pointer;
}

/* Middle column */
.full-div {
  background-color: #FFFAF7;
  float: left;
  width: 95%;
  display: block;
  padding-left: 0px;
  margin-left: 0px;
}

.part-div {
  background-color: #F7FAF7;
  float: left;
  width: 74%;
  display: block;
  padding-left: 0px;
  margin-left: 0px;
}

.row{
  border-top: solid gray 1px;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
