<div class="base">
  <div>
    <app-header></app-header>
  </div>

  <!--Main Page-->
  <div class="row">
    <div *ngIf="show" class="column one">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Used to open the sidenav -->
    <div class="column two">
      <span (click)="show= !show">&#9776;</span>
    </div>

    <!-- Different Components are Served Here-->
    <div  [ngClass]="show? 'part-div': 'full-div'">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>