
    <div id="chartContainer" style="height:35%; width: 80%; margin: auto">
    
    </div>
<br/>
<hr width=50%>    
    <div id="chartContainer2" style="height:35%; width: 80%; margin: auto">
        
    </div>
