<div class = "sidenav">
  <a routerLink="/">Home</a>
  <hr width="100%"/>
  <a (click)="showPortfolio= !showPortfolio"><img src="../../assets/portfolio.png" height="40px">Portfolio Analysis</a>
  <hr width="100%"/>
  <div *ngIf="showPortfolio">
      <a routerLink="/profile" routerLinkActive="active">
      <span style="padding-right: 0.5em"></span>
      <span style="font-size: 20px;
        color: #1d1414">Charts</span>
        </a>
        <hr width="100%"/>
    </div>
<a (click)="showStrategies= !showStrategies"><span ><img src="../../assets/strategy.png" height="40px"> </span>Strategies</a>
    
  <hr width="100%"/>
  <div *ngIf="showStrategies"> 
            <a routerLink="/All" routerLinkActive="active">
              <span style="padding-right: 0.5em"></span>
      <span style="font-size: 20px;
        color: #1d1414"> All Traders</span>
        </a>
     
            <a routerLink="/2MA" routerLinkActive="active">
              <span style="padding-right: 0.5em"></span>
      <span style="font-size: 20px;
        color: #1d1414">Two Moving Averages</span>
        </a>
           
            <a routerLink="/BB" routerLinkActive="active">
              <span style="padding-right: 0.5em"></span>
      <span style="font-size: 20px;
        color: #1d1414"> Bollinger Bands</span>
        </a>
            <hr width="100%"/>
    </div>
  <div class="row-main">  
</div>


      