.row-top{
    padding:5%;
    height:8%;
    background-color: rgb(184,202,224);
    font-size:200%;
    font-family:"Trebuchet MS";
    font-weight: normal;
    color: rgb(7, 15, 26); 
}

.row-buttom{
    background-color: grey; 
    height:80%;
}

.row-main{
    margin: 0px;
    width:100%;
    background-color: black;
}
.accord-class{
    border: black 5px solid;
    padding:0px;
    margin:0px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  z-index: 1; /* Stay on top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    cursor:pointer;
  }
  /*Highlight text on hover*/
  .sidenav a:hover {
    color: #15152c;
  }

  .sidenav.litte{
    font-size: 10px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }