<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark  static-top" style="background-color: black; margin-left: -5%" >
    <div >
      <img style='height: 200px; width: 300px;' src="../assets/citigrouplogo.jpg">
    </div>
    <div class="container">
      <h1 class="header" style="color: white">Automated Trading Platform</h1>
    </div>
  </nav>